<!DOCTYPE html>
<html>
<head>

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
<div class="btn-primary">
    <a href="{% url 'customerregistration' %}" class="nav-link text-white">Registration</a>
</div>

<table id="customers">
  <tr>
    <th>Movies</th>
    <th>Slot</th>
  </tr>
    {% for s in movie %}
  <tr>
    <td>{{ s.movies }}</td>
    <td> {{ s.slot }}</td>
  </tr>
    {% endfor %}

</table>

</body>
</html>
